* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px;
}

.navbar-paragraph {
    margin: 0px;
    color: #ffffff;
    font-style: italic;
}

.navbar-anchor {
    color: #ffffff;
    font-style: italic;
}

::placeholder {
    color: #027577;
  }