* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px;
}

.navbar-paragraph {
    margin: 0px;
    color: #ffffff;
    font-style: italic;
}

.navbar-anchor {
    color: #ffffff;
    font-style: italic;
}

::placeholder {
    color: #027577;
    font-style: italic;
}

.vertical {
    border-left: 2px solid black;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
    height:50%;
}

.home-visible {
    display:flex;
    height:75%;
}